@font-face {
    font-family: "Duplicate";
    src: url("/public/fonts/DuplicateSans-Regular-Web.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Duplicate";
    src: url("/public/fonts/DuplicateSans-RegularItalic-Web.woff") format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Duplicate";
    src: url("/public/fonts/DuplicateSans-Bold-Web.woff") format('woff');
    font-weight: Bold;
    font-style: normal;
}



  