@use 'menu';
@use 'fonts';
@use 'typography';
@import 'vars';



*,
*::after,
*::before {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html, body {
    font-family:"Duplicate", arial, helvetica;
    font-size:20px;
}




.container {
  max-width:1400px;
}




.header {
    padding:1em;
    display:grid;
    height:80px;
    border-bottom:1px solid $red;
    
    grid-template-columns: 1fr 1fr 1fr;
    
    & #menu_button {
      cursor:pointer;

      &:hover  {
      color:$red;
    }
    }

    
}

section.font {
    position:relative;
    
    text-align:center;
    border-bottom:1px solid $red;
    overflow: hidden;
}

.contain-overflow {
    width: 100%;
    // height: 250px;
    overflow: hidden;
    height:300px;
  
  
    .text {   
      font-size: 120px;
      display: inline-block;
      outline: none;
      white-space: nowrap;
        text-align: center;
      padding: 0.6em 0 0.2em;
    }
}

  .tester_text {   
    font-size: 6em;
    overflow-x:hidden;
    outline: none;
    text-align:center;
    line-height:1.2;
    margin:2rem auto;
    max-width:calc(100vw - 2rem);
    border:1px solid $red;
    padding:2rem;
  }


  .metadata {
    text-align: left;
    position:absolute;
    top:1em; left:1em;
    z-index:5;
    
    & label {
      display:inline;
      font-weight:normal;

 

    }


    & a,
    & a label {
      cursor:pointer;
      color:inherit
    }

  }

   


  .view_project {
    position:absolute;
    top:1em; right:1em;
    z-index:100;
    
  }
  

  .process-images {
    margin-top:3rem;
  }

  .image  {

    margin-bottom:2rem;

    & img {
      display:block;
      margin:auto;
      width:calc(100% - 2rem );
      
    }
  }

  a.loadHome {
    color:$black;
    

    &:hover {
      color:$red;
    }
  }
p {
  margin-bottom:1em;
}
  .external-links {
    list-style-type:none;
    font-weight:bold;
    padding:0;
    margin:0;

    & li {
      padding:0;
      margin:0;
    }
  }


  .back_forth {
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding:1em;
  }


  /* Larger than phablet */
@media (max-width: 550px) {

  section.font {
    text-align:left;
    position:static;
    padding:0.5em;
    
  }

  .metadata, 
  .view_project {
    position:static;
  }


  .contain-overflow {
    height:auto;
    & .text {
      font-size: 40px;
      display: inline-block;
      outline: none;
      white-space: nowrap;
      text-align: left;
      padding: 0;
    }
  }



    .header {
      display:block;


      & .left,
      & .center,
      & h1{
        display:inline;
      }
      & .right {
        display:none;
      }

     & .revivals {
        display:none;
      }
    }

        .tester_text {
        font-size:2rem;
    }

  }