@import 'vars';




.header {
    padding:1em;
    display:grid;
    height:80px;
    border-bottom:1px solid $red;
    
    grid-template-columns: 1fr 1fr 1fr;
    
    & #menu_button {
      cursor:pointer;

      &:hover  {
      color:$red;
    }
    }

    & a {
      color:$black;

      &:hover {
        color:$red;
      }
    }

    
}


  .hamburger-menu {
  position: relative;


}

.hamburger-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  display: inline-flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
  top: -0.55em;
  
  &.close {
    top:0.30em;
    gap: 0;

    &:hover {
      background:none;
    }

    & .bar.bar1 {
      transform-origin:50% 50%;
      transform:rotate(45deg);
      background-color: white;
    }

    & .bar.bar2 {
      transform-origin:50% 50%;
      margin-top:-2px;
      transform:rotate(-45deg);
      background-color: white;

    }

  }
}

.bar {
  width: 16px;
  height: 2px;
  background-color: black;
  border-radius: 2px;
  transition: 0.3s;
}

.menu {
  position: fixed;
  top:0;
  left: 0;
  width:100vw;
  height:100vh;
  z-index:200;
  background: rgba($red,0.9);
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  overflow-y:scroll;

    a {
      color:white;
    }

    & .header {
      border-color:white;
    }

}


.menu_font {
  & a {
    color:white;

    &:hover {
      color:$black;
    }
  }
}

@media (max-width:550px) {
  .header {
   & .menu_font {
    & .center {
      display:block;
    }
    
  }
    
  }
  .hamburger-menu  {
    display:inline;
    
  }

  
  .revivals {
    display:none;
  }

  .hamburger-button.close {
    top:-0.25em;;
  }


}