.header {
  padding: 1em;
  display: grid;
  height: 80px;
  border-bottom: 1px solid #FF1C17;
  grid-template-columns: 1fr 1fr 1fr;
}
.header #menu_button {
  cursor: pointer;
}
.header #menu_button:hover {
  color: #FF1C17;
}
.header a {
  color: #0f0f0f;
}
.header a:hover {
  color: #FF1C17;
}

.hamburger-menu {
  position: relative;
}

.hamburger-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  display: inline-flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
  top: -0.55em;
}
.hamburger-button.close {
  top: 0.3em;
  gap: 0;
}
.hamburger-button.close:hover {
  background: none;
}
.hamburger-button.close .bar.bar1 {
  transform-origin: 50% 50%;
  transform: rotate(45deg);
  background-color: white;
}
.hamburger-button.close .bar.bar2 {
  transform-origin: 50% 50%;
  margin-top: -2px;
  transform: rotate(-45deg);
  background-color: white;
}

.bar {
  width: 16px;
  height: 2px;
  background-color: black;
  border-radius: 2px;
  transition: 0.3s;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 200;
  background: rgba(255, 28, 23, 0.9);
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
}
.menu a {
  color: white;
}
.menu .header {
  border-color: white;
}

.menu_font a {
  color: white;
}
.menu_font a:hover {
  color: #0f0f0f;
}

@media (max-width: 550px) {
  .header .menu_font .center {
    display: block;
  }
  .hamburger-menu {
    display: inline;
  }
  .revivals {
    display: none;
  }
  .hamburger-button.close {
    top: -0.25em;
  }
}
@font-face {
  font-family: "Duplicate";
  src: url("/public/fonts/DuplicateSans-Regular-Web.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Duplicate";
  src: url("/public/fonts/DuplicateSans-RegularItalic-Web.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Duplicate";
  src: url("/public/fonts/DuplicateSans-Bold-Web.woff") format("woff");
  font-weight: Bold;
  font-style: normal;
}
a {
  cursor: pointer;
  color: #FF1C17;
}
a:link, a:visited {
  text-decoration: none;
}
a:hover {
  color: #0f0f0f;
}
a.inverse {
  color: #0f0f0f;
}
a.inverse:link, a.inverse:visited {
  text-decoration: none;
}
a.inverse:hover {
  color: #FF1C17;
}

h1, h2, h3, h4, h5 {
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0;
  padding: 0;
  margin: 0;
}

h2 {
  margin: 4rem 0;
  font-size: 6em;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-weight: bold;
  color: #FF1C17;
  padding-bottom: 1em;
}

.external-links a {
  color: #FF1C17;
}
.external-links a:hover {
  color: black;
}

/* Make selected text gold on a red background */
::selection {
  color: white;
  background-color: #FF1C17;
}

button {
  border-radius: 0;
  font-size: inherit;
  font-weight: normal;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: none;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  background: #FF1C17;
  border: 1px solid #FF1C17;
  padding: 0 0.5em;
  color: #FFF;
  transition: color 0.3s, background 0.3s;
  height: auto;
  margin: 0;
}
button:hover {
  color: #FF1C17;
  background-color: #FFF;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.caption {
  font-weight: bold;
  text-align: center;
  margin: 0 1em;
}

@media (max-width: 550px) {
  h2 {
    font-size: 3rem;
    margin: 0;
    padding: 1rem 0;
  }
  h3 {
    font-size: 2.5rem;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: "Duplicate", arial, helvetica;
  font-size: 20px;
}

.container {
  max-width: 1400px;
}

section.font {
  position: relative;
  text-align: center;
  border-bottom: 1px solid #FF1C17;
  overflow: hidden;
}

.contain-overflow {
  width: 100%;
  overflow: hidden;
  height: 300px;
}
.contain-overflow .text {
  font-size: 120px;
  display: inline-block;
  outline: none;
  white-space: nowrap;
  text-align: center;
  padding: 0.6em 0 0.2em;
}

.tester_text {
  font-size: 6em;
  overflow-x: hidden;
  outline: none;
  text-align: center;
  line-height: 1.2;
  margin: 2rem auto;
  max-width: calc(100vw - 2rem);
  border: 1px solid #FF1C17;
  padding: 2rem;
}

.metadata {
  text-align: left;
  position: absolute;
  top: 1em;
  left: 1em;
  z-index: 5;
}
.metadata label {
  display: inline;
  font-weight: normal;
}
.metadata a, .metadata a label {
  cursor: pointer;
  color: inherit;
}

.view_project {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 100;
}

.process-images {
  margin-top: 3rem;
}

.image {
  margin-bottom: 2rem;
}
.image img {
  display: block;
  margin: auto;
  width: calc(100% - 2rem);
}

a.loadHome {
  color: #0f0f0f;
}
a.loadHome:hover {
  color: #FF1C17;
}

p {
  margin-bottom: 1em;
}

.external-links {
  list-style-type: none;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
.external-links li {
  padding: 0;
  margin: 0;
}

.back_forth {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em;
}

#footer {
  background: #FF1C17;
  color: white;
  min-height: 100vh;
}

/* Larger than phablet */
@media (max-width: 550px) {
  section.font {
    text-align: left;
    position: static;
    padding: 0.5em;
  }
  .metadata,
  .view_project {
    position: static;
  }
  .contain-overflow {
    height: auto;
  }
  .contain-overflow .text {
    font-size: 40px;
    display: inline-block;
    outline: none;
    white-space: nowrap;
    text-align: left;
    padding: 0;
  }
  .header {
    display: block;
  }
  .header .left, .header .center, .header h1 {
    display: inline;
  }
  .header .right {
    display: none;
  }
  .header .revivals {
    display: none;
  }
  .tester_text {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=main.css.map */
